@use 'variables'

*
    font-family: variables.$font-stack

body
    background: variables.$body-bg-color

    button
        border: none
        background: none

    ul
        list-style: none

    a
        text-decoration: none

        &:hover
            text-decoration: none

    .bg-primary-color
        background: rgb(255, 255, 255)

    .bg-secondary-color
        background: rgb(239, 241, 245)

    .bg-tertiary-color
        background: rgb(58, 48, 83)

    .bg-quaternary-color
        background: rgb(35, 33, 39)

    .bg-button-color
        background: rgb(42, 207, 207)

    .font-primary-color
        color: rgb(255, 255, 255)

    .font-secondary-color
        color: rgb(158, 154, 167)

    .font-tertiary-color
        color: rgb(53, 50, 62)

    .font-quaternary-color
        color: rgb(42, 207, 207)

    .font-error-color
        color: rgb(244, 98, 98)

    .btn-opacity:hover
        opacity: 0.3
