@use 'variables'

*
    font-family: variables.$font-stack

body
    background: variables.$body-bg-color

    button
        border: none
        background: none

    ul
        list-style: none

    a
        text-decoration: none

        &:hover
            text-decoration: none
